.allPageContainer {
   color: whitesmoke;
   display: flex;
   flex-direction: row;
   width: 100%;
   min-height: 100vh;
}

.detailPreviewDiv {
   width: 55%;
   min-height: 100%;
   height: auto;
   background-position: -250px;
   background-size: cover;
   background-attachment: fixed;
   position: fixed;
}

.lookLikeText {
   color: dimgray;
   margin: 0px;
   padding-top: 3px;
}

.namePreview {
   font-family: CardTitle;
   font-size: 70px;
   margin-top: 8px;
   overflow: hidden;
   margin-left: 20px;
   margin-right: 120px;
   margin-bottom: 2px;
   text-align: left;
   opacity: 0.7;
   text-shadow: 1px 1px 5px #00000093;
}

.divDescription {
   background-color: rgba(0, 0, 0, 0.377);
   width: 85%;
   position: relative;
   left: 37px;
   color: rgba(245, 245, 245, 0.5);
   padding: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
   border-radius: 5px;
   font-size: 13px;
   text-shadow: 1px 1px 5px #00000093;
}


.lastFourProps {
   display: flex;
   flex-direction: row;
   text-align: center;
}
.lastFourProps p{
   text-align: center;
   font-size: 15px;
}

.platformsDiv {
   margin-left: 20px;
   width: 25%;
   height: fit-content;
   overflow: visible;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.availableOn {
   margin-top: 15px;
   margin-bottom: 5px;
   font-size: 14px;
   opacity: 0.7;
   text-shadow: 1px 1px 5px #00000093;
}

.platformsSpan {
   padding-left: 4px;
   padding-right: 4px;
   padding-top: 1px;
   padding-bottom: 1px;
   border-radius: 3px;
   margin-left: 15px;
   margin-top: 5px;
   background-color: rgba(128, 128, 128, 0.329);
   color: rgb(153, 153, 153);
   font-size: 12px;
   width: fit-content;
}

.releaseDateDiv {
   width: 25%;
}

.releaseDate {
   margin-top: 15px;
   margin-bottom: 5px;
   text-align: left;
   font-size: 14px;
   opacity: 0.7;
   text-shadow: 1px 1px 5px #00000093;
}

.date {
   padding-left: 4px;
   padding-right: 4px;
   padding-top: 1px;
   padding-bottom: 1px;
   border-radius: 3px;
   margin-top: 5px;
   background-color: rgba(128, 128, 128, 0.329);
   color: rgb(153, 153, 153);
   font-size: 12px;
   width: fit-content;
}

.ratingDiv{
   width: 25%;
}

.rating{
   margin-top: 15px;
   margin-bottom: 5px;
   font-size: 14px;
   opacity: 0.7;
   text-shadow: 1px 1px 5px #00000093;
}

.ratingNumber{
   padding-left: 4px;
   padding-right: 4px;
   padding-top: 1px;
   padding-bottom: 1px;
   border-radius: 3px;
   margin-top: 5px;
   background-color: rgba(128, 128, 128, 0.329);
   color: rgb(153, 153, 153);
   font-size: 12px;
   width: fit-content;
}

.genresDiv {
   margin-right: 20px;
   width: 25%;
   height: fit-content;
   overflow: visible;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.genresTitle {
   margin-top: 15px;
   margin-bottom: 5px;
   text-align: left;
   font-size: 14px;
   opacity: 0.7;
   text-shadow: 1px 1px 5px #00000093;
}

.genresSpan {
   padding-left: 4px;
   padding-right: 4px;
   padding-top: 1px;
   padding-bottom: 2px;
   border-radius: 3px;
   margin-top: 5px;
   background-color: rgba(128, 128, 128, 0.329);
   color: rgb(153, 153, 153);
   font-size: 12px;
   width: fit-content;
}


/* ---------------------------------------------------------------------------------------------- */

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.formDiv {
   width: 45%;
   min-height: 100%;
   height: auto;
   background-image: linear-gradient(to right top, #191b1f, #202527, #282e2e, #333836, #3f413e);
   margin-left: 55%;
   overflow-y: auto;
}

.addNewGame {
   font-family: EightBit;
   font-size: x-large;
   filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
}

.selectForm {
   background-color: #2025276b;
   border: none;
   border-bottom: white 1px solid;
   color: whitesmoke;
   margin-left: 10px;
}

.inputForm {
   background-color: transparent;
   border: none;
   border-bottom: white 1px solid;
   color: whitesmoke;
   width: 260px;
   margin-left: 10px;
}

.errorText{
   color: rgba(255, 0, 0, 0.842);
   font-weight: 500;
   font-size: small;
   margin-top: 5px;
}

.closeButton{
   border: none;
   background: none;
   color: rgba(255, 0, 0, 0.5);
   margin-left: 0px;
   cursor: pointer;
   transition: transform 0.1s ease;
}
.closeButton:hover{
   transform: scale(1.05);
   color: rgba(255, 0, 0);
}

.platformsSpan{
   color: rgba(220, 220, 220, 0.267);
   margin-left: 10px;
   font-weight: 400;
}

.uploadButton {
   background: none;
   color: whitesmoke;
   border: none;
   border-bottom: whitesmoke 2px solid;
   margin-top: 10px;
   margin-bottom: 25px;
   font-size: medium;
   font-family: EightBit;
   cursor: pointer;
   filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.3));
}
.uploadButton:disabled {
   background: none;
   color: rgba(245, 245, 245, 0.4);
   border-bottom: rgb(245, 245, 245, 0.4) 2px solid;
   cursor: default;
}

@font-face {
   font-family: CardTitle;
   src: url(../../Resources/CardTitle.ttf);
   font-family: EightBit;
   src: url(../../Resources/EightBit.ttf);
}