.homepageDiv {
   background-color: black;
}


@font-face {
   font-family: Gameplay;
   src: url(../../Resources/Gameplay.ttf);
   font-family: EightBit;
   src: url(../../Resources/EightBit.ttf);
}

.communityDiv {
   background-image: linear-gradient(rgb(0, 0, 0, 0.7),
         rgb(0, 0, 0, 0.1)), url(../../Resources/HomePageBack.jpg);
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   min-height: 90vh;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   height: 595px;
   width: 100%;
   font-family: Gameplay;
   color: rgba(220, 220, 220, 0.973);
}

.wordsDiv {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   width: 60%;
   height: 595px;
   margin-left: 90px;
}

.addButton {
   position: absolute;
   left: 450px;
   bottom: 170px;
   font-family: EightBit;
   font-size: 15px;
   border-radius: 4px;
   border-style: double;
   border-width: thick;
   background-color: #ffdb0c;
   color: #000000;
   height: 50px;
   width: 175px;
}

.addButton:hover {
   cursor: pointer;
   transform: scale(1.02);
}

.informationDiv {
   width: 40%;
}


::-webkit-scrollbar {
   width: 10px;
}

::-webkit-scrollbar-track {
   background: #00040a;
}

::-webkit-scrollbar-thumb {
   background: #181f25bd;
}

::-webkit-scrollbar-thumb:hover {
   background: #181f25;
}

.loader {
   animation: spin 1s linear infinite;
   height: 10px;
   width: 10px;
   position: absolute;
   top: 50%;
   left: 50%;
   margin: -5px;
   opacity: initial;
}

@keyframes spin {
   0% {
      box-shadow:
         0px -30px white,
         10px -30px white,
         20px -20px white,
         30px -10px white,
         30px 0px white,
         30px 10px white,
         20px 20px white,
         10px 30px white,
         0px 30px transparent,
         -10px 30px transparent,
         -20px 20px transparent,
         -30px 10px transparent,
         -30px 0px transparent,
         -30px -10px transparent,
         -20px -20px transparent,
         -10px -30px transparent;
   }

   6.25% {
      box-shadow:
         0px -30px transparent,
         10px -30px white,
         20px -20px white,
         30px -10px white,
         30px 0px white,
         30px 10px white,
         20px 20px white,
         10px 30px white,
         0px 30px white,
         -10px 30px transparent,
         -20px 20px transparent,
         -30px 10px transparent,
         -30px 0px transparent,
         -30px -10px transparent,
         -20px -20px transparent,
         -10px -30px transparent;
   }

   12.5% {
      box-shadow:
         0px -30px transparent,
         10px -30px transparent,
         20px -20px white,
         30px -10px white,
         30px 0px white,
         30px 10px white,
         20px 20px white,
         10px 30px white,
         0px 30px white,
         -10px 30px white,
         -20px 20px transparent,
         -30px 10px transparent,
         -30px 0px transparent,
         -30px -10px transparent,
         -20px -20px transparent,
         -10px -30px transparent;
   }

   18.75% {
      box-shadow:
         0px -30px transparent,
         10px -30px transparent,
         20px -20px transparent,
         30px -10px white,
         30px 0px white,
         30px 10px white,
         20px 20px white,
         10px 30px white,
         0px 30px white,
         -10px 30px white,
         -20px 20px white,
         -30px 10px transparent,
         -30px 0px transparent,
         -30px -10px transparent,
         -20px -20px transparent,
         -10px -30px transparent;
   }

   25% {
      box-shadow:
         0px -30px transparent,
         10px -30px transparent,
         20px -20px transparent,
         30px -10px transparent,
         30px 0px white,
         30px 10px white,
         20px 20px white,
         10px 30px white,
         0px 30px white,
         -10px 30px white,
         -20px 20px white,
         -30px 10px white,
         -30px 0px transparent,
         -30px -10px transparent,
         -20px -20px transparent,
         -10px -30px transparent;
   }

   31.25% {
      box-shadow:
         0px -30px transparent,
         10px -30px transparent,
         20px -20px transparent,
         30px -10px transparent,
         30px 0px transparent,
         30px 10px white,
         20px 20px white,
         10px 30px white,
         0px 30px white,
         -10px 30px white,
         -20px 20px white,
         -30px 10px white,
         -30px 0px white,
         -30px -10px transparent,
         -20px -20px transparent,
         -10px -30px transparent;
   }

   37.5% {
      box-shadow:
         0px -30px transparent,
         10px -30px transparent,
         20px -20px transparent,
         30px -10px transparent,
         30px 0px transparent,
         30px 10px transparent,
         20px 20px white,
         10px 30px white,
         0px 30px white,
         -10px 30px white,
         -20px 20px white,
         -30px 10px white,
         -30px 0px white,
         -30px -10px white,
         -20px -20px transparent,
         -10px -30px transparent;
   }

   43.75% {
      box-shadow:
         0px -30px transparent,
         10px -30px transparent,
         20px -20px transparent,
         30px -10px transparent,
         30px 0px transparent,
         30px 10px transparent,
         20px 20px transparent,
         10px 30px white,
         0px 30px white,
         -10px 30px white,
         -20px 20px white,
         -30px 10px white,
         -30px 0px white,
         -30px -10px white,
         -20px -20px white,
         -10px -30px transparent;
   }

   50% {
      box-shadow:
         0px -30px transparent,
         10px -30px transparent,
         20px -20px transparent,
         30px -10px transparent,
         30px 0px transparent,
         30px 10px transparent,
         20px 20px transparent,
         10px 30px transparent,
         0px 30px white,
         -10px 30px white,
         -20px 20px white,
         -30px 10px white,
         -30px 0px white,
         -30px -10px white,
         -20px -20px white,
         -10px -30px white;
   }

   56.25% {
      box-shadow:
         0px -30px white,
         10px -30px transparent,
         20px -20px transparent,
         30px -10px transparent,
         30px 0px transparent,
         30px 10px transparent,
         20px 20px transparent,
         10px 30px transparent,
         0px 30px transparent,
         -10px 30px white,
         -20px 20px white,
         -30px 10px white,
         -30px 0px white,
         -30px -10px white,
         -20px -20px white,
         -10px -30px white;
   }

   62.5% {
      box-shadow:
         0px -30px white,
         10px -30px white,
         20px -20px transparent,
         30px -10px transparent,
         30px 0px transparent,
         30px 10px transparent,
         20px 20px transparent,
         10px 30px transparent,
         0px 30px transparent,
         -10px 30px transparent,
         -20px 20px white,
         -30px 10px white,
         -30px 0px white,
         -30px -10px white,
         -20px -20px white,
         -10px -30px white;
   }

   68.75% {
      box-shadow:
         0px -30px white,
         10px -30px white,
         20px -20px white,
         30px -10px transparent,
         30px 0px transparent,
         30px 10px transparent,
         20px 20px transparent,
         10px 30px transparent,
         0px 30px transparent,
         -10px 30px transparent,
         -20px 20px transparent,
         -30px 10px white,
         -30px 0px white,
         -30px -10px white,
         -20px -20px white,
         -10px -30px white;
   }

   75% {
      box-shadow:
         0px -30px white,
         10px -30px white,
         20px -20px white,
         30px -10px white,
         30px 0px transparent,
         30px 10px transparent,
         20px 20px transparent,
         10px 30px transparent,
         0px 30px transparent,
         -10px 30px transparent,
         -20px 20px transparent,
         -30px 10px transparent,
         -30px 0px white,
         -30px -10px white,
         -20px -20px white,
         -10px -30px white;
   }

   81.25% {
      box-shadow:
         0px -30px white,
         10px -30px white,
         20px -20px white,
         30px -10px white,
         30px 0px white,
         30px 10px transparent,
         20px 20px transparent,
         10px 30px transparent,
         0px 30px transparent,
         -10px 30px transparent,
         -20px 20px transparent,
         -30px 10px transparent,
         -30px 0px transparent,
         -30px -10px white,
         -20px -20px white,
         -10px -30px white;
   }

   87.5% {
      box-shadow:
         0px -30px white,
         10px -30px white,
         20px -20px white,
         30px -10px white,
         30px 0px white,
         30px 10px white,
         20px 20px transparent,
         10px 30px transparent,
         0px 30px transparent,
         -10px 30px transparent,
         -20px 20px transparent,
         -30px 10px transparent,
         -30px 0px transparent,
         -30px -10px transparent,
         -20px -20px white,
         -10px -30px white;
   }

   93.75% {
      box-shadow:
         0px -30px white,
         10px -30px white,
         20px -20px white,
         30px -10px white,
         30px 0px white,
         30px 10px white,
         20px 20px white,
         10px 30px transparent,
         0px 30px transparent,
         -10px 30px transparent,
         -20px 20px transparent,
         -30px 10px transparent,
         -30px 0px transparent,
         -30px -10px transparent,
         -20px -20px transparent,
         -10px -30px white;
   }

   100% {
      box-shadow:
         0px -30px white,
         10px -30px white,
         20px -20px white,
         30px -10px white,
         30px 0px white,
         30px 10px white,
         20px 20px white,
         10px 30px white,
         0px 30px transparent,
         -10px 30px transparent,
         -20px 20px transparent,
         -30px 10px transparent,
         -30px 0px transparent,
         -30px -10px transparent,
         -20px -20px transparent,
         -10px -30px transparent;
   }
}